---
import "../styles/global.css";
import Nav from '../components/nav.astro';
import Block from  '../components/block.astro';

import Editor from "../react/editor.jsx";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>Sparkplug B Encoder / Decoder</title>
	</head>
	<body class="bg-neutral-900 text-white">
    <Nav></Nav>
    <div class="mx-auto max-w-7xl my-8 sm:px-6 lg:px-8">
      <Block suppressHydrationWarning={true}>
        <Editor client:load/>
      </Block>
    </div>
	</body>
</html>
